<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600&family=Dancing+Script:wght@400;600&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap"
         rel="stylesheet"
      />
      <link rel="stylesheet" href="/css/style.css" />
      <link rel="stylesheet" href="/css/base.css" />
      <link rel="stylesheet" href="/css/navbar.css" />
      <link rel="stylesheet" href="/css/utils.css" />
      <link rel="stylesheet" href="/css/form.css" />
      <title>UK | Visa Processing Information System</title>
   </head>
   <body>
      <nav class="nav">
         <div class="nav-top">
            <div class="nav-brand">
               <img src="/img/uk-flag.jfif" alt="" />
               <div class="nav-brand-name">
                  <h2 style="font-family: 'Bitter', sans-serif">
                     Visa Processing Information System
                  </h2>
                  <p style="font-family: 'Dancing Script', sans-serif">
                     Simplicity with accuracy
                  </p>
               </div>
            </div>
         </div>
         <ul class="nav-navig u-no-bullets">
            <li class="nav-item"><a href="">Home</a></li>
            <li class="nav-item"><a href="">Apply for visa</a></li>
            <li class="nav-item"><a href="">Interview</a></li>
         </ul>
      </nav>
      <main class="page-main">Hey bro</main>
   </body>
</html>
