<%- include('_header') -%>
<main class="page-main page-home">
   <div class="page-home-content">
      <header class="page-home-header">
         <div class="page-home-header-textbox">
            <h1 class="u-mgb-sm">Get your visa. <br> Have your best travel.</h1>
            <a href="" class="btn btn-purple">Apply for visa</a>
         </div>
      </header>
   </div>
   <aside class="page-home-notification">
      <h4 class="u-text-center u-mgb-sm">Notifications</h4>
      <ul class="alerts u-no-bullets">
         <li class="alert u-text-center">
         </li>
      </ul>
   </aside>
</main>
</body>
</html>
