*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: inherit;
}
:root {
   --clr-purple: #57599c;
   --clr-purple-light: #6a6dc9;
   --clr-purple-lighter: rgb(219, 220, 255);
   --clr-red: #ec2719;
   --clr-red-light: #c7281e;
   --clr-gray-light: #f4f4f4;
   --clr-gray-dark: #8f8f8f;
   --clr-gray-darker: #7c7c7c;
   --clr-green: rgb(58, 190, 58);
}
html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}

@media (min-width: 1800px) {
   html {
      font-size: 80%;
   }
}

@media (max-width: 1200px) {
   html {
      font-size: 60%;
   }
}

@media (max-width: 900px) {
   html {
      font-size: 55%;
   }
}

body {
   min-height: 100vh;
   font-family: 'PT Sans', sans-serif;
   color: var(--clr-gray-dark);
   font-size: 1.5rem;
   display: grid;
   grid-template-rows: [nav-start] auto [nav-end main-start] 1fr [main-end];
}

main.page-main {
   grid-row: main-start / main-end;
   max-width: 100%;
   background: white;
   padding: 5rem 8vw;
}
main.page-main > * {
   grid-column: layout-col-start 1;
}
.page-title {
   font-family: 'Bitter', sans-serif;
}

a {
   text-decoration: none;
   font: inherit;
}

img {
   max-width: 100%;
   max-height: 100%;
}
input::-webkit-input-placeholder {
   color: rgb(206, 206, 206);
}
input,
select {
   padding: 0.5em 0.8em;
}
select {
   padding-block: 0.6em;
}
input[type='text'],
input[type='number'],
input[type='password'],
input[type='date'],
select {
   background: #f4f4f4;
   outline: none;
   border: none;
   font: inherit;
   border-radius: 2px;
   border-bottom: 2px solid transparent;
   display: block;
}
input[type='text']:focus,
input[type='number']:focus {
   border-bottom: 2px solid var(--clr-purple-light);
}
input[type='date'],
select {
   border: none;
}
.parag {
   max-width: 50ch;
}

.btn {
   outline: none;
   border: none;
   cursor: pointer;
   font: inherit;
   text-align: center;
   padding: 0.65em 1em;
   border-radius: 4px;
   transition: all 0.4s;
   width: max-content;
   opacity: 0.9;
}
.btn:hover {
   opacity: 1;
}
.btn.u-full-width {
   padding-block: 0.8em;
}
.btn-md {
   font-size: 1.3rem;
   /* padding: 0.65em 1em; */
}
.btn-purple {
   background: var(--clr-purple);
   color: #fff;
   /* text-transform: uppercase; */
   /* font-weight: bold; */
}
.btn-purple:hover {
   background: var(--clr-purple-light);
}

.btn-purple-light {
   background: var(--clr-purple-lighter);
   color: var(--clr-purple);
}
.btn-purple-light:hover {
   color: #000;
}
.btn-outline-white {
   background: transparent;
   border: 1px solid #fff;
   color: #fff;
}
.btn-green {
   background: var(--clr-green);
}
.btn-red {
   background: var(--clr-red);
   color: #fff;
}
h1 {
   /* font-family: 'Bitter', sans-serif; */
   width: max-content;
}
