.page-main .register {
   display: flex;
   flex-wrap: wrap;
   gap: 2rem;
   row-gap: 3rem;
}

.form-span-1 {
   flex: 1 1 30%;
}
.form-span-2 {
   flex: 1 1 63%;
}
.form-span-3 {
   flex: 1 1 96%;
}

.form-group {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.form-group--row {
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}
.form-group--row > * {
   flex: 1;
   gap: 2rem;
}

.form-group .form-label {
   display: block;
   font-size: 1.3rem;
   color: var(--clr-gray-darker);
   text-transform: uppercase;
   margin-bottom: 0.3rem;
}

.radio-group {
   display: flex;
   align-items: center;
   gap: 2rem;
}

.radio-option {
   display: flex;
   align-items: center;
   gap: 1rem;
}
.radio-option input {
   order: -1;
   margin-right: auto;
}

/* Auth form (form in login and signup pages) */
.auth-form {
   width: 50%;
}
.auth-form label {
   margin-bottom: 5px;
}

@media (max-width: 900px) {
   .auth-form {
      width: 80%;
   }
}
